
.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

table {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
  }
